<%- include('partials/header.ejs') %>


<body>
    <h1> Check Current Weather </h1>
    <form action="/submit" method="post">
    <h1>Enter City : </h1>
    <input type="text" name="city" placeholder="City Name.." id="city" ><br><br>
    <input type="submit" value="Submit">
</form>
</body>

</html>